# Ignorar archivos de configuración local
.vscode/

# Ignorar módulos de node y otras carpetas
node_modules/
dist/

# Ignorar archivos temporales o de sistema
.DS_Store   # Para MacOS
Thumbs.db   # Para Windows