<div
    class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto"
    cdkScrollable
>
    <!-- Main -->
    <div class="flex-auto p-4 sm:p-8">
        <div class="grid grid-cols-1 gap-8 w-full">
            <div
                class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
            >
                <!-- Header -->
                <div
                    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8"
                >
                    <!-- Title -->
                    <div>
                        <div
                            class="text-3xl font-bold tracking-tight leading-8"
                        >
                            Plaza de mercado
                        </div>
                        <div class="font-medium tracking-tight text-secondary">
                            Historial de compras en plaza de mercado
                        </div>
                    </div>
                </div>

                <div class="overflow-x-auto mx-6">
                    <div class="flex flex-auto overflow-hidden">
                        <!-- Market history list -->
                        <div
                            class="flex flex-col flex-auto sm:mb-6 overflow-hidden sm:overflow-y-auto"
                        >
                            <div
                                class="table-responsive w-full border"
                                style="overflow-x: auto"
                            >
                                <table
                                    mat-table
                                    matSort
                                    [dataSource]="marketHistoryList"
                                    class="mat-elevation-z8"
                                >
                                    <ng-container matColumnDef="purchaseId">
                                        <th
                                            class="text-center pl-10"
                                            mat-header-cell
                                            mat-sort-header
                                            *matHeaderCellDef
                                        >
                                            # De Compra
                                        </th>
                                        <td
                                            class="text-center"
                                            mat-cell
                                            *matCellDef="let element"
                                        >
                                            {{ element?.id }}
                                        </td>
                                    </ng-container>

                                    <ng-container
                                        matColumnDef="ingredientImage"
                                    >
                                        <th
                                            class="text-center pl-10"
                                            mat-header-cell
                                            mat-sort-header
                                            *matHeaderCellDef
                                        >
                                            Imagen de ingrediente
                                        </th>
                                        <td
                                            class="text-center"
                                            style="
                                                justify-items: center !important;
                                            "
                                            mat-cell
                                            *matCellDef="let element"
                                        >
                                            <!-- image -->
                                            <div
                                                class="max-w-14 h-14 m-4 rounded overflow-hidden border"
                                            >
                                                <a
                                                    [href]="
                                                        element.ingredient
                                                            ?.image
                                                    "
                                                    target="_blank"
                                                >
                                                    <img
                                                        class="max-w-14 h-14"
                                                        *ngIf="
                                                            element.ingredient
                                                                ?.image
                                                        "
                                                        [alt]="
                                                            element.ingredient
                                                                ?.name
                                                        "
                                                        [src]="
                                                            element.ingredient
                                                                ?.image
                                                        "
                                                    />
                                                </a>
                                                <div
                                                    class="flex items-center justify-center w-full h-full text-xs font-bold leading-none text-center uppercase"
                                                    *ngIf="
                                                        !element.ingredient
                                                            ?.image
                                                    "
                                                >
                                                    NO IMAGE
                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ingredientName">
                                        <th
                                            class="text-center pl-10"
                                            mat-header-cell
                                            mat-sort-header
                                            *matHeaderCellDef
                                        >
                                            Nombre de ingrediente
                                        </th>
                                        <td
                                            class="text-center"
                                            mat-cell
                                            *matCellDef="let element"
                                        >
                                            {{ element?.ingredient?.name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="quantity">
                                        <th
                                            class="text-center pl-10"
                                            mat-header-cell
                                            mat-sort-header
                                            *matHeaderCellDef
                                        >
                                            Cantidad Comprada
                                        </th>
                                        <td
                                            class="text-center"
                                            mat-cell
                                            *matCellDef="let element"
                                        >
                                            {{ element?.quantity }}
                                        </td>
                                    </ng-container>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td
                                            class="mat-cell text-center py-4"
                                            colspan="4"
                                        >
                                            No existen datos registrados.
                                        </td>
                                    </tr>

                                    <tr
                                        mat-header-row
                                        *matHeaderRowDef="displayedColumns"
                                    ></tr>
                                    <tr
                                        mat-row
                                        *matRowDef="
                                            let row;
                                            columns: displayedColumns
                                        "
                                    ></tr>
                                </table>
                            </div>

                            <div
                                class="bg-card rounded-b-2xl shadow flex flex-end justify-end border-t"
                            >
                                <mat-paginator
                                    class="rounded-b-2xl"
                                    [ngClass]="{
                                        'pointer-events-none': isLoading
                                    }"
                                    [length]="paginationData?.totalItems"
                                    [pageIndex]="paginationData?.page - 1"
                                    [pageSize]="paginationData?.limit"
                                    [pageSizeOptions]="[5, 10, 25, 100]"
                                    [showFirstLastButtons]="true"
                                    (page)="paginationChange($event)"
                                ></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
