# NODE CONFIG
PORT=                   # Puerto del microservicio de Auth (default: 5000)

# DATABASE CONFIG
DATABASE_URL=           # URL de conexión a PostgreSQL

# RABBITMQ CONFIG
RABBITMQ_URL=           # URL de RabbitMQ (default: amqp://rabbitmq)